body {
  width: 960px;
  background-image: url(../../bananas/bananas.png);
}

h1 {
  padding: 20px 2px 20px 2px;
  background: coral;
  color: white;
  float: left;
}

.instructions {
  clear: both;
  background: yellowgreen;
  height: 100px;
}

.data {
  float: right;
  padding: 20px;
  background: yellow;
  width: 150px;
}

h4 {
  background: teal;
  color: white;
  width: 200px;
  padding: 5px;
}

.target-number {
  float: left;
  padding: 20px;
  background: green;
  width: 300px;
}

div::after {
  clear: both;
  content: '';
  display: block;
}

.image {
  width: 200px;
  height: 200px;
}

#myGuess {
  background: teal;
  color: white;
  width: 150px;
  padding: 20px;
}
